<div style="background-color: #EEF9FF; ">
  <div class="row" style="padding-top: 70px;">
    <div class="col-md-12 heading-text-style" style="text-align: center;">
      Special Services
    </div>
  </div>
  <br /><br />

  <div class="container" style="background-color: white; ">
    <div class="row">
      <div class="col-md-3 box-style">
        <p class="para-text-style">
          In this quarantine hair cutting was the main issue faced by men. So,
          here at Comb N Cut we are offering professional hair cut in just
          rupees 700/-
        </p>
      </div>

      <div
        class="col-md-3 box-style"
      >
        <img
          src="assets/images/combncutlogoCopy.jpg"
          width="280"
          height="198"
          alt=""
        />
      </div>

      <div
        class="col-md-3 box-style"
      >
        <p class="para-text-style">
          Get your beard trim with safe and professional hands in just rupees
          500/-
        </p>
      </div>

      <div
        class="col-md-3 box-style"
      >
        <img
          src="assets/images/combncutlogoCopy.jpg"
          width="280"
          height="198"
          alt=""
        />
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-3 box-style"
      >
        <img
          src="assets/images/combncutlogoCopy.jpg"
          width="280"
          height="198"
          alt=""
        />
      </div>

      <div
        class="col-md-3 box-style"
      >
        <p class="para-text-style">
          Bored of this quarantine? Get your self a new hair colour and feel
          fresh in just rupees 800/-
        </p>
      </div>

      <div
        class="col-md-3 box-style"
      >
        <img
          src="assets/images/combncutlogoCopy.jpg"
          width="280"
          height="198"
          alt=""
        />
      </div>

      <div
        class="col-md-3 box-style"
      >
        <p class="para-text-style">
          Don't worry about shave and cuts anymore because Comb & Cut have lined
          up some real good barbers for you in just rupees 500/-
        </p>
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-3 box-style"
      >
        <p class="para-text-style">
          Mate and pale hair? Can't go out? Don't worry here at Comb & Cut you
          can get your hair polished in just rupees 800/-
        </p>
      </div>

      <div
        class="col-md-3 box-style"
      >
        <img
          src="assets/images/combncutlogoCopy.jpg"
          width="280"
          height="198"
          alt=""
        />
      </div>

      <div
        class="col-md-3 box-style"
      >
        <p class="para-text-style">
          You need to relax? Get a professional facial in just rupees 1200/-
        </p>
      </div>

      <div
        class="col-md-3 box-style"
      >
        <img
          src="assets/images/combncutlogoCopy.jpg"
          width="280"
          height="198"
          alt=""
        />
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-3 box-style"
      >
        <img
          src="assets/images/combncutlogoCopy.jpg"
          width="280"
          height="198"
          alt=""
        />
      </div>

      <div
        class="col-md-3 box-style"
      >
        <p class="para-text-style">
          Comb n Cut care about their customers ease that's why we have
          introduced threading in just rupees 200/-
        </p>
      </div>

      <div class="col-md-3 box-style">
        <img
          src="assets/images/combncutlogoCopy.jpg"
          width="280"
          height="198"
          alt=""
        />
      </div>

      <div class="col-md-3 box-style">
        <p class="para-text-style">
          Get your hair styled and shampoo by a best hair stylist of Lahore in
          just rupees 600/.
        </p>
      </div>
    </div>

  </div>
  <div style="height: 130px; background-color: #EEF9FF;"></div>

</div>
