<footer
  style="
    background-color: #154360;
    margin-top: 100px;
    color: white;
    padding:20px;
    "
>
  <div
    class="container"
    style="text-shadow: 1px 1px 1px black; padding-top: 30px;"
  >
    <div class="row">
      <div class="col-md-4" style="border-right: 2px solid white;">
        <p
          style="
            font: italic small-caps bold 25px/40px Courier, sans-serif;
            color: white;
          "
        >
          Comb n Cut
        </p>
        <p style="color: white;">
          Here at Comb N Cut, we have lined up some professional barbers from
          all over the Lahore for your services. Stay home, stay safe, stay
          fresh by getting your services at reasonable prices. We provide our
          services in LAHORE Cantt, DHA, Gulberg etc.
        </p>
      </div>
      <div class="col-md-4" style="border-right: 2px solid white;">
        <p
          style="
            font: italic small-caps bold 25px/40px Courier, sans-serif;
            color: white;
          "
        >
          Quick Links
        </p>

        <p>
          <a class="nav-link" routerLink="booking" style="color: white;"
            >Book an Appointment</a
          >
        </p>
        <p>
          <a class="nav-link" routerLink="booking" style="color: white;"
            >Our Services</a
          >
        </p>
        <p>
          <a class="nav-link" routerLink="booking" style="color: white;"
            >Our Pacakages</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <p
          style="
            font: italic small-caps bold 25px/40px Courier, sans-serif;
            color: white;
          "
        >
          Contact
        </p>

        <p>
          Phone: +92-321-1154074
        </p>
      </div>
    </div>
  </div>
</footer>
