<div class="row">
  <div
    class="col-lg-8"
    style="
      background-color: white;
      color: black;
      border-bottom: 5px solid #154360;
    "
  >
    <div class="text-style-banner">
      This quarantine or after this quarantine get a haircut, hair color, shave,
      beard trimming, facial and threading by professional barbers with all the
      precautions against COVID-19 at your home. Here at Comb N Cut, we have
      lined up some professional barbers from all over the Lahore for your
      services. Stay home, stay safe, stay fresh by getting your services at
      reasonable prices. We provide our services in LAHORE Cantt, DHA, Gulberg
      etc.
    </div>

    <br />

    <a style="height: 50px; padding: 10px;" routerLink="/booking">
      <Button
        style="
          background-color: #154360;
          color: white;
          font-size: 20px;
          width: 100%;
        "
      >
        Book an Appointment
      </Button>
    </a>
    <div>
      <p
        style="
          text-align: right;
          margin-left: 10px;
          margin: 0px;
          text-shadow: 2px 2px 5px #154360;
          font: italic small-caps bold 25px/40px Courier, sans-serif;
        "
      >
        Let's Look Good
      </p>
    </div>
  </div>
  <div
    class="col-lg-4"
    style="background-color: white; border-bottom: 5px solid #154360;"
  >
    <home-carousel></home-carousel>
  </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" style="border-right: 6px solid black;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <p class="font-style-heading">
                  Services We Provide
                </p>

                <div class="row" >
                  <div class="col-lg-8">
                    <p class="font-style-1">
                      Hair Cut
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 700</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">Beard Trimming</p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 500</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">Shave</p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 500</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">Hair Color</p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 800</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">Hair Polish</p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 800</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">Facial</p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 1200</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">Threading</p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 200</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">Hair Polish and Styling</p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 600</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <p class="font-style-heading">
                  Pacakages We Offer
                </p>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">
                      Hair Cutting + Beard Trimming / Shave
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 1000</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">
                      Hair Cutting + Hair Color + Beard Trimming / Shave
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 1700</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">
                      Hair Cutting + Hair Polish + Beard Trimming / Shave
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 1700</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">
                      Hair Cutting + Hair Color + Hair Polish + Beard Trimming /
                      Shave
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 2500</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">
                      Hair Cutting + Facial + Threading + Beard Trimming / Shave
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 2000</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">
                      Hair Cutting + Styling and Shampoo + Beard Trimming /
                      Shave
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 1500</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <p class="font-style-1">
                      Groom Package (Special Package for 3 days)
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <p class="font-style-1">Rs: 15000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <pic-grid></pic-grid>

